{% extends "network/layout.html" %}

{% block body %}
<h2>All Posts</h2>

<!-- New Post -->
<h3>New Post</h3>
<div class="item">
    <form action="{% url 'post' %}" method="post">
        {% csrf_token %}
        <table class="create_form">
            {{ new_post_form.as_table }}
        </table>
        <input class="submit_button" type="submit" value="Post">
    </form>
</div>

<!-- List of posts -->
{% for d in data %}
<table class="table-bordered post-table">
    <tr>
        <th>
            <a class="edit_post" href="#"></a>{{ d.0.user }}
        </th>
    </tr>
    <tr>
        <td>
            <div class="post-time">{{ d.0.time }}</div>
            <div class="post-content">{{ d.0.content }}</div>
        </td>
    </tr>
</table>
{% endfor %}

{% endblock %}