{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<table class="table-bordered profile-table">
    <tr>
        <th>
            Profile Details
        </th>
    </tr>
    <tr>
        <td>
            <div class="profile-user">{{ user.username }}</div>
            {% if show_follow %}
                <!-- Follow/Unfollow button -->
                {% if followed %}
                <button id="follow-user" data-user-id="{{ user.id }}">Unfollow</button>
                {% else %}
                <button id="follow-user" data-user-id="{{ user.id }}">Follow</button>
                {% endif %}
            {% endif %}
            <!-- Number of follower/following -->
            <div id="profile-follower">{{ followers }} Followers</div>
            <div id="profile-following">{{ followings }} Followings</div>
        </td>
    </tr>
</table>

{% for post in page_obj %}
<table class="table-bordered post-table">
    <tr>
        <th>
            <a class="edit_post" href="#"></a>{{ post.user }}
        </th>
    </tr>
    <tr>
        <td>
            <div class="post-time">{{ post.time }}</div>
            <div class="post-content">{{ post.content }}</div>
        </td>
    </tr>
</table>
{% endfor %}

<!-- Pagination -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'network/follow.js' %}"></script>
{% endblock %}